#galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 2rem 0;
    padding: 0 2rem;
}

.ficha{
    position: relative;
    height: 300px;
    width: 200px;
    background: red;
}

.brillo1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    opacity: 0;
    transition: 0.4s;
}

.brillo2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(252, 252, 252, 0.5), rgba(255, 255, 255, 0.5));
    opacity: 0;
    transition: 0.4s;
}