.cliente-box {
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.imagen {
    z-index: 2;
    width: 30%;
    height: min-content;
    position: relative;
}
.user-icon {
    fill: black;
    background-color: rgb(160, 96, 160);
    overflow: hidden;
    border-radius: 20%;
}

.info {
    z-index: 1;
    width: 70%;
    border: solid 2px rgb(156, 57, 156);
    border-radius: 0% 15% 15% 0%;
    position: relative;
    left: -4%;
}