@import './base.css';

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./components/utilidad.css";

@import "tailwindcss/utilities";

#contenedorUtilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 2%; /* Espaciado entre las utilidades y los límites del contenedor */
  padding: 2%; /* Espaciado interior */
  justify-content: space-around; /* Esto distribuirá el espacio restante alrededor de los elementos */
  align-items: flex-start; /* Alinea los elementos al principio del contenedor */
  max-width: 100%; /* Ancho máximo del contenedor */
}
