.notificacionAlerta {
    position: absolute;
    color: white;
    bottom: 4%;
    top: -31px;
    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    font-size: 18px;
    padding: 0px 5px;
    line-height: 25px;
    z-index: 13;
    background: #cf2323;
    border-radius: 100px;
    box-shadow: 0.5rem 1rem 1rem rgb(0 0 0 / 40%);
    cursor: pointer;
    overflow: hidden;
}